@{
    ViewBag.Title = "About";
}
<h3>About Page</h3>
<p>
    You can use this app to upload songs and delete songs you uploaded
    and you can see all songs that other users uploaded
</p>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br />