.head2 {
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #cd54a9;

}
.login-btn , .signup-btn{
    font-family: cursive;
    background: #cd54a9;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}